	/* Estilo dos Menus */
	.secoes, .miniSecoes, .miniMenusAtivo, #premio100reais, .elementor.style, #contadorSlot, #contadorRoleta, #containerGanhou, #containerPerdeu, .sincronizarcomacasa {
		display:none;
	}
	
	#premioNada, #premio5hcs, #premio10hcs, #premio20hcs, #premio30hcs, #premio50hcs, #premiobanca, .containerDeSlots {
	    display: none;
	}
	
	.elementor.style{
	    width: 100%;
	}

	#secao-jogos, #miniSecao-resumo, #miniSecao-banners, #miniSecao-instalar{
		display:block;
	}

	.menus,.miniMenus, .miniMenusAtivo {
		cursor:pointer;
				box-shadow: 0 0 10px 8px transparent;

	}

	.activeMenu svg path{
		fill:#23BEDF !important;
		filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
	}
	
	@keyframes pulse {
      0% {
        transform: scale(1);
        border: 1px solid transparent;
      }
      50% {
        transform: scale(1.2);
        border: 3px solid #16e17f;
      }
      100% {
        transform: scale(1);
        border: 1px solid transparent;
      }
    }
    
    .piscandoSaldo {
        border: 1px solid transparent;
        animation: pulse 0.5s infinite;
    }
	
	.spanEspectadores {
		background-color:#f44336 !important;
		padding:3px !important;
		border-radius:2px !important;
		font-size:9px !important;
		color:white !important;
	}
	.toggle-icon fa fa-eye {
		width: 6px !important;
		height: 6px !important;
	}
	
	/* Inicia sem Gift
	#gift{
		display:none;	
	} */

	/* Estilo Ganhadores 
	.divGanhadores{
		width: 100%;
		overflow: hidden;
		vertical-align: center;
		padding-top:0.2rem;
		padding-bottom:0.2rem;
	}

	.containerGanhadores{
		color:white;
		font-size:0.7rem;
		animation: scroll-left 80s linear infinite;
		display: inline-block;
		white-space: nowrap;
	}

	.classGanhador{
		margin:0.5rem;
		padding:0.25rem;
		padding-left:0.5rem;
		padding-right:0.5rem;
	}

	@keyframes scroll-left {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}*/
	/* Estilo Possível e Confirmado */
	.animPossivel {
		box-shadow: 0px 0px 16px #fdc74a !important;
		border: solid #fdc74a !important;
		border-radius: 1000px !important;
		animation: destaquePossivel 1.3s ease-in-out infinite;
	}

	@keyframes destaquePossivel {
		0% {
			transform: scale(0.95);
			border: 1px;
		}
		50% {
			transform: scale(1);
			border: 3px;
		}
		100% {
			transform: scale(0.95);
			border: 1px;
		}
	}

	.animEntrada {
		box-shadow: 0px 0px 16px #9cff00 !important;
		border: solid #9cff00 !important;
		border-radius: 1000px !important;
		animation: destaqueEntrada 1.3s ease-in-out infinite;
	}

	@keyframes destaqueEntrada {
		0% {
			transform: scale(0.95);
			border: 1px;
		}
		50% {
			transform: scale(1);
			border: 3px;
		}
		100% {
			transform: scale(0.95);
			border: 1px;
		}
	}

	.piscapisca{
		animation: piscando;
	}

	.placar-greens{
		border: solid 1px #12a075;
		color: #12a075;
		background-color: rgba(156,255,0,0.04);
		padding:2px 2px 2px 2px;
		border-radius:36px;
	}

	.placar-reds{
		border: solid 1px #f8402d;
		color: #f8402d;
		background-color: rgba(255,46,0,0.04);
		padding:2px 2px 2px 2px;
		border-radius:36px;
	}
	
	.em-breve {
		filter: grayscale(100%);
	}
	
	.em-breve:hover {
		filter: grayscale(90%);
	}

	.manutencao img, .plano-elite img{
		filter: grayscale(100%);
	}

	.manutencao img:hover, .plano-elite img:hover{
		filter: grayscale(90%);
	}

	.circle-on{
		display:inline-block;
		border-radius:50px;
		width:1em;
		height:1em;
		background-color:lightgreen;
		animation: pulse-onoff 2s infinite;
	}
	.circle-off{
		display:inline-block;
		border-radius:50px;
		width:1em;
		height:1em;
		background-color:red;
		animation: pulse-onoff 2s infinite;
	}
	@keyframes pulse-onoff{
		0%{
			transform:scale(0.9);
			opacity:1;
		}
		50%{
			transform:scale(1);
			opacity:0.6;
		}
		100%{
			transform:scale(0.9);
			opacity:1;
		}
	}